
img                 { vertical-align:middle; border-width:0px;border-style:none; }


div#overall         { min-width: 970px; width: 100%; overflow: hidden; }


body                { font-size: 62.5%; line-height: 1.42857143; margin: 0px auto; 
                      padding: 0px; background-color: #cccccc; 
                      font-family: arial, sans-serif, Tahoma, Verdana;}
                      
.page-container-1   { width: 970px; margin: 0px auto; padding: 0px; background-color:#ffffff; 
                      border: solid 1px rgb(100,100,100);}


body.summer { background-color: #feec98; }
body.autumn { background-color: #e0ed9d; }
body.winter { background-color: #ddebf5; }
body.spring { background-color: #feec98; }

div.seasonalBackground {
  display: block; 
  position: absolute; 
  width: 330px; 
  height: 100%; 
  top: -2px; 
  background-repeat: no-repeat; 
}

div.seasonalBackground.left{ left: -331px; }
div.seasonalBackground.right{ right: -331px; transform: scaleX(-1); }

div.seasonalBackground.summer{ background-image: url(/images/css/summer.jpg);}
div.seasonalBackground.autumn{ background-image: url(/images/css/autumn.jpg);}
div.seasonalBackground.winter{ background-image: url(/images/css/winter.jpg);}
div.seasonalBackground.spring{ background-image: url(/images/css/spring.jpg);}




/*************************************/
/* SECTION 2 - HEADER AND NAVIGATION */
/*************************************/

/* search results */
.bgcolor1 { background-color: rgb(255,255,255);}
.bgcolor2 { background-color: rgb(219,230,241);}
/* special rows */
tr.alert .bgcolor1 { background-color: #f2dede;}
tr.alert .bgcolor2 { background-color: #F9D1D3;}
tr.alert .alertable { color: #DB242E;font-weight: bold;}
tr.highlighted > td {border-width:2px;}


/*-----------------------------------*/
/* 2.1 - Sitename, slogan and banner */
/*-----------------------------------*/
.header                     { height:80px; width: 970px;}

.cookies-message {
	position: fixed;
	opacity: 0.75;
	color: white;
	background: black;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	font-weight: bold;
}

.cookies-message a {
	color: white !important;
}

.site-name                  { width: 300px; height: 45px; top: 12px; 
                              position: absolute; z-index: 4; overflow: hidden; 
                              margin: 0px; padding-left: 80px;}
                              
.site-name p.title          { margin: 0px; padding: 0px; 
                              font-family: "trebuchet ms", arial, sans serif; 
                              font-weight: bold; font-size: 24px;}
                              
.site-name p.subtitle       { clear: both; width: 300px; margin: -6px 0px 0px 0px; padding: 0px; 
                              background-color: transparent; 
                              font-family: "trebuchet ms", arial, sans serif; font-size: 12px;}
                              
.site-name a                { margin: 0px; padding: 0px; text-decoration: none; color: #323232;}

.site-name a:hover          { text-decoration: none;}




.site-slogan-container      { text-align:right; width: 970px; top: 83px; position: absolute; z-index: 1; overflow: hidden; background-color: transparent;}
.site-slogan                { float: right; width: auto; margin: 0px; padding: 5px 15px 5px 5px; background-image: url(../../../images/css/darkbluetransparent.png); background-repeat: repeat; font-size: 10px; border-left:1px solid rgb(100,100,100); border-top:1px solid rgb(100,100,100); border-bottom:1px solid rgb(100,100,100);}
.site-slogan input          { background-image: url(../../../images/css/blank.gif); }
.site-slogan form           { background-color: transparent; }
.site-slogan p.search       { clear: both; float: right; margin-right: -5px; padding: 0px; color: rgb(255,255,255); /*font-family: arial, sans serif; */ text-align: right; line-height: 1.0em; font-size: 10px; white-space: nowrap;}
.site-slogan p.search label { position: relative; bottom: 0.2em;}
.site-slogan a              { color: rgb(234,239,247); text-decoration: underline;}
.site-slogan a:hover        { text-decoration: none; color: rgb(50,50,50);}

/*--------------------------*/
/* 2.2 - Navigation - Flags */
/*--------------------------*/
.navflag-container  { width: 970px; top: 14px; position: absolute; z-index: 2; background-color: transparent;}
.navflag            { margin: 0px; padding: 0px; font-size: 1.0em;}
.navflag ul         { float: right; margin: 0px; padding: 0px 20px 0px 0px;}
.navflag li         { display: inline; list-style: none; margin: 0px; padding: 0px;}
.navflag li a       { margin: 0px; padding: 0px 0px 0px 1px; text-decoration: none;}
.navflag a:hover    { color: rgb(0,0,0); text-decoration: none;}
.img-navflag        { display: inline; width: 23px; height: 15px; margin: 0px; padding: 0px; border: none;}

/*----------------------------*/
/* 2.3 - LoginBox */
/*----------------------------*/
#loginbox-container  { width: 970px; top: 35px; position: absolute; 
                       z-index: 3; background: transparent;}
#loginbox            { margin: 0px; padding: 0px; font-family: verdana, arial, sans serif; font-size: 1.0em; text-align:right; margin-right:20px;}
#loginbox a          { color: #337ab7;}
#loginbox a:hover    { color: rgb(50,50,50); }
#loginbox a, #loginbox a:hover {text-decoration: none;}

/*----------------------------*/
/* 2.4 - Navigation - horizontal menu bar */
/*----------------------------*/
#nav2                               { clear: both; margin: 0px; padding: 0px; font-family: verdana, arial, sans serif; font-size: 1.0em;}
#nav2 ul                            { float: left; width: 970px; margin: 0px; padding: 0px; background-color: #7FA2CA; font-weight: bold; box-sizing: border-box;}
#nav2 li                            { display: inline; list-style: none; margin: 0px; padding: 0px;}
#nav2 a:hover                       { background-color: #52769E;}
#nav2 li a                          { display: block; float: left; margin: 0px 0px 0px 0px; padding: 8px 10px; color: rgb(255,255,255); text-transform: uppercase; text-decoration: none; font-size: 100%;}
#nav2 a:hover, #nav2 a.selected     { text-decoration: none;}
#nav2 a.selected                    { background-color: #184E89;}
.buffer                             { clear: both; width: 1px; height: 15px; margin: 0px; padding: 0px; background-color: rgb(255,255,255);}

/*----------------------------*/
/* 2.5 - Navigation - left menus */
/*----------------------------*/
#nav3                                           { overflow: hidden; clear: both; float: left; width: 160px; min-height: 500px; margin: 0px; padding: 0px; color: rgb(75,75,75); font-size: 1.0em;}
#nav3 ul                                        { width: 160px; margin: 0px 0px 10px 0px; padding: 0px; border-bottom: solid 1px rgb(216,206,159); background-color: rgb(219,230,241);}
#nav3 li                                        { list-style: none; margin: 0px; padding: 0px;}
#nav3 li.title                                  { margin: 0px 0px 0px 0px; padding: 3px 5px 2px 15px; background-color: rgb(156,186,214); color: rgb(255,255,255); text-transform: uppercase; font-weight: bold; font-size: 120%;}
#nav3 li.group a                                { display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; padding: 0px 7px 0px 15px; border-top: solid 1px rgb(200,200,200); border-left: solid 7px rgb(219,230,241); color: rgb(75,75,75); font-weight: bold; font-size: 120%;}
#nav3 li.group_active a                         { border-left: solid 7px rgb(156,186,214); background-color: rgb(156,186,214);}
#nav3 li.subgroup a                             { display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; padding: 0px 7px 0px 15px; border-top: solid 1px rgb(200,200,200); border-left: solid 14px rgb(219,230,241); color: rgb(75,75,75); font-weight: normal; font-size: 120%;}
#nav3 li.subgroup_active a                      { border-left: solid 14px rgb(156,186,214); background-color: rgb(156,186,214);}
#nav3 li a                                      { display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; padding: 0px 7px 0px 20px; border-left: solid 7px rgb(219,230,241); color: rgb(75,75,75); text-decoration: none; font-size: 120%;}
#nav3 li a:hover, #nav3 li a.selected           { border-left: solid 7px rgb(156,186,214);  color: rgb(100,100,100); text-decoration: none;}
#nav3 li.subgroup a:hover, #nav3 li a.selected  { border-left: solid 14px rgb(156,186,214);  color: rgb(100,100,100); text-decoration: none;}

/*----------------------------*/
/* 2.5 - Navigation - Level 4 */
/* TODO: refactor! - used only in viewProfile  */
/*----------------------------*/
.nav4 li                                        { float: left; list-style: none; margin: 0px; padding: 0px;padding-bottom: 5px;}
.nav4 li.title                                  { display: none; margin: 0px 0px 0px 0px; padding: 3px 5px 2px 5px; background-color: rgb(156,186,214); color: rgb(255,255,255); text-transform: uppercase; font-weight: bold; font-size: 120%;}
.nav4 li.group a                                { background-color: rgb(219,230,241);display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; margin-right: 3px; padding: 0px 7px 0px 20px; border-top: solid 1px rgb(200,200,200); border-left: solid 7px rgb(219,230,241); color: rgb(75,75,75); font-weight: bold; font-size: 120%;}
.nav4 li.group_active a                         { border-left: solid 7px rgb(156,186,214); background-color: rgb(156,186,214);}
.nav4 li.subgroup a                             { display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; padding: 0px 7px 0px 0px; border-top: solid 1px rgb(200,200,200); border-left: solid 14px rgb(219,230,241); color: rgb(75,75,75); font-weight: normal; font-size: 120%;}
.nav4 li.subgroup_active a                      { border-left: solid 14px rgb(156,186,214); background-color: rgb(156,186,214);}
.nav4 li a                                      { display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; border-left: solid 40px rgb(219,230,241); color: rgb(75,75,75); text-decoration: none; font-size: 120%;}
.nav4 li a:hover, .nav4 li a.selected           { border-left: solid 7px rgb(156,186,214);  color: rgb(100,100,100); text-decoration: none;}
.nav4 li.subgroup a:hover, .nav4 li a.selected  { border-left: solid 14px rgb(156,186,214);  color: rgb(100,100,100); text-decoration: none;}
ul#statmenu { padding: 0px; margin: 0px;}
.notlogged-cacheview                            { display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; padding: 0px 0px 6px 7px; color: rgb(150,75,75); font-size: 120%; }

/******************************************************/
/* SECTION 4 - SPECIFIC CLASSES FOR LAYOUTS #2 and #3 */
/******************************************************/
.notice                        { overflow: hidden; width: 97%; height: auto; margin: 0px 0px 0px 0px; padding: 0px 0px 12px 20px; color: rgb(88,144,168); font-style: italic; font-size: 11px; background-image: url(../images/misc/16x16-info.png); background-position: top left; background-repeat:no-repeat;}
.warning                       { overflow: hidden;  width: 735px; height: 24px; border: 1px solid black; background-color: rgb(240,100,100); margin: 0px 0px 0px 0px; padding: 8px 0px 0px 32px; color: rgb(50,50,50); font-weight: bold; font-size: 12px; background-image: url(../images/misc/32x32-impressum.png); background-position: top left; background-repeat:no-repeat;}
.errormsg                      { color: rgb(240,100,100); font-weight: bold;}
.successmsg                    { color: rgb(50,150,20); font-weight: bold;}

.templateContainer             { float: left; width: 790px; min-height: 500px; margin: 0px; padding: 0px 0px 0px 20px; color: rgb(75,75,75); font-size: 1.0em;}
.content2-container            { clear: both; float: left; width: 769px; margin: 0px 0px 15px 0px; padding: 0px;}
.content2-container-1col       { overflow: hidden; width: 769px; margin: 0px; padding: 0px;}
.content2-container-2col-left  { overflow: hidden; float: left; width: 272px; margin: 0px; padding: 0px;}
.content2-container-2col-right { overflow: hidden; float: right; width: 372px; margin: 0px; padding: 0px;}
.content2-pagetitle            { overflow: hidden; width: 769px; margin: 0px 0px 10px 0px; padding: 0px 0px 2px 0px; border-bottom: solid 3px rgb(88,144,168); color: rgb(88,144,168); font-weight: bold; font-size: 180%;}


.templateContainer a           { color: rgb(75,75,75);}
/*********************************/
/* SECTION 6 - COMMON PARAMETERS */
/*********************************/

/*--------------------*/
/* 6.1 - Content Area */
/*--------------------*/

/* Titles and textboxes*/
.content-title-noshade          { margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 100%;}
.content-title-noshade-size0    { margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 70%;}
.content-title-noshade-size05   { margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 80%;}
.content-title-noshade-size1    { margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 130%;}
.content-title-noshade-size12   { margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 120%;}
.content-title-noshade-size2    { margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 150%;}
.content-title-noshade-size3    { margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 160%;}
.content-title-noshade-size5    { margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 200%;}
.content-txtbox-noshade         { margin: 0px; padding: 7px 0px 0px 0px; background-color: rgb(255,255,255);}


/* Headings */
h1 { margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 160%;}
h2 { margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 150%;}
h3 { margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 140%;}
h4 { margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 130%;}
h5 { margin: 0px 0px 0.2em 0px; font-weight: bold; font-size: 130%;}
h6 { margin: 0px 0px 0.2em 0px;font-weight: bold; font-style: italic; font-size: 130%;}

/* Paragraphs */
p  { margin: 0px 0px 0.5em 0px; padding: 0px; line-height: 1.3em; font-family: arial, sans serif; font-size: 12px; }

/* Lists */
ul.indent        { margin: 0px 0px 7px 15px; padding: 0px 0px 0px 15px; list-style-type: disc; font-family: arial; font-size: 120%;}
ol               { margin: 0px 0px 0px 9px; padding: 0px 0px 0px 25px; list-style-type: decimal; list-style-position: outside; font-size: 120%;}
ul.tick          { list-style-image: url('/tpl/stdstyle/images/free_icons/tick.png'); }

/* Tables */
.table            { font-size: 10px; line-height: 2.0em; clear: left; padding: 0px; margin: 0.5em 0px 0.2em 0px; border: solid 0px rgb(150,150,150); empty-cells: show; border-collapse: collapse; background-color: rgb(255,255,255);}
.table tr         { margin: 0px; padding: 0px;}
.table td         { padding: 2px 7px 2px 7px; border: solid 0px rgb(150,150,150); text-align: left; font-size: 120%;}
.table th         { margin: 0px; background-color: rgb(127,162,202); padding: 2px 7px 2px 7px; border: solid 0px rgb(150,150,150); empty-cells: show; text-align: left; font-size: 120%; color: rgb(255,255,255);    }
.table-caption    { margin: 0.5em 0px 1.0em 30px; padding: 0px; clear: both; text-align: left; font-size: 120%;}
.table td.options { padding: 0.5em 0.5em; }

/* Images */
.img-difficulty                     { margin: 0px; border-width:0px; border-style:none;}

/*--------------------*/
/* 6.3 - Footer Area  height: 3.0em;*/
/*--------------------*/
#footer     { overflow: hidden; clear: both; width: 970px;  margin: 0px; padding: 0.5em 0px 0.5em 0px; border-top: solid 1px rgb(125,125,125); background-color: rgb(128,161,202); color: rgb(255,255,255); font-size: 1.0em;}
#footer p   { margin: 0px; padding: 0px; text-align: center; line-height: 1.3em; font-size: 110%;}
#footer a        { color: rgb(255,255,255); text-decoration: underline;}
#footer a:hover  { color: rgb(0,0,0); text-decoration: none;}


/*******************************/
/* SECTION 7 - GENERIC CLASSES */
/*******************************/

/*-----------------------------*/
/* 7.2 - Horizontal alignments */
/*-----------------------------*/

.align-right    { text-align: right;}
.align-center   { text-align: center;}

/*------------------*/
/* 7.3  Text colors */
/*------------------*/
.txt-white      { color: rgb(255,255,255);}
.txt-black      { color: rgb(0,0,0);}

.txt-grey01     { color: rgb(242,242,242);}
.txt-grey02     { color: rgb(230,230,230);}
.txt-grey03     { color: rgb(217,217,217);}
.txt-grey04     { color: rgb(204,204,204);}
.txt-grey05     { color: rgb(191,191,191);}
.txt-grey06     { color: rgb(178,178,178);}
.txt-grey07     { color: rgb(153,153,153);}
.txt-grey08     { color: rgb(127,127,127);}
.txt-grey09     { color: rgb(89,89,89);}
.txt-grey10     { color: rgb(51,51,51);}

.txt-yellow01   { color: rgb(254,252,232);}
.txt-yellow02   { color: rgb(253,249,201);}
.txt-yellow03   { color: rgb(253,246,185);}
.txt-yellow04   { color: rgb(252,243,162);}
.txt-yellow05   { color: rgb(251,239,139);}
.txt-yellow06   { color: rgb(250,236,116);}
.txt-yellow07   { color: rgb(249,233,93);}
.txt-yellow08   { color: rgb(249,230,69);}
.txt-yellow09   { color: rgb(248,227,46);}
.txt-yellow10   { color: rgb(247,224,23);}

.txt-blue01     { color: rgb(238,237,249);}
.txt-blue02     { color: rgb(219,230,241);}
.txt-blue03     { color: rgb(205,202,236);}
.txt-blue04     { color: rgb(189,185,229);}
.txt-blue05     { color: rgb(172,167,223);}
.txt-blue06     { color: rgb(155,149,217);}
.txt-blue07     { color: rgb(139,132,210);}
.txt-blue08     { color: rgb(122,114,204);}
.txt-blue09     { color: rgb(106,97,197);}
.txt-blue10     { color: rgb(89,79,191);}

.txt-green01    { color: rgb(237,246,229);}
.txt-green02    { color: rgb(220,238,204);}
.txt-green03    { color: rgb(202,229,178);}
.txt-green04    { color: rgb(185,220,153);}
.txt-green05    { color: rgb(167,211,127);}
.txt-green06    { color: rgb(149,203,102);}
.txt-green07    { color: rgb(132,194,76);}
.txt-green08    { color: rgb(114,185,51);}
.txt-green09    { color: rgb(97,177,25);}
.txt-green10    { color: rgb(79,168,0);}

.txt-red01      { color: rgb(252,235,233);}
.txt-red02      { color: rgb(248,216,211);}
.txt-red03      { color: rgb(245,196,188);}
.txt-red04      { color: rgb(242,177,166);}
.txt-red05      { color: rgb(238,157,144);}
.txt-red06      { color: rgb(235,137,122);}
.txt-red07      { color: rgb(232,118,100);}
.txt-red08      { color: rgb(229,98,77);}
.txt-red09      { color: rgb(225,79,55);}
.txt-red10      { color: rgb(222,59,33);}

/*-------------------------*/
/* 7.4 - Background colors */
/*-------------------------*/
.bg-white       { background-color: rgb(255,255,255);}
.bg-black       { background-color: rgb(0,0,0);}

.bg-grey01      { background-color: rgb(242,242,242);}
.bg-grey02      { background-color: rgb(230,230,230);}
.bg-grey03      { background-color: rgb(217,217,217);}
.bg-grey04      { background-color: rgb(204,204,204);}
.bg-grey05      { background-color: rgb(191,191,191);}
.bg-grey06      { background-color: rgb(178,178,178);}
.bg-grey07      { background-color: rgb(153,153,153);}
.bg-grey08      { background-color: rgb(127,127,127);}
.bg-grey09      { background-color: rgb(89,89,89);}
.bg-grey10      { background-color: rgb(51,51,51);}

.bg-yellow01    { background-color: rgb(254,252,232);}
.bg-yellow02    { background-color: rgb(253,249,201);}
.bg-yellow03    { background-color: rgb(253,246,185);}
.bg-yellow04    { background-color: rgb(252,243,162);}
.bg-yellow05    { background-color: rgb(251,239,139);}
.bg-yellow06    { background-color: rgb(250,236,116);}
.bg-yellow07    { background-color: rgb(249,233,93);}
.bg-yellow08    { background-color: rgb(249,230,69);}
.bg-yellow09    { background-color: rgb(248,227,46);}
.bg-yellow10    { background-color: rgb(247,224,23);}

.bg-blue01      { background-color: rgb(238,237,249);}
.bg-blue02      { background-color: rgb(219,230,241);}
.bg-blue03      { background-color: rgb(205,202,236);}
.bg-blue04      { background-color: rgb(189,185,229);}
.bg-blue05      { background-color: rgb(172,167,223);}
.bg-blue06      { background-color: rgb(155,149,217);}
.bg-blue07      { background-color: rgb(139,132,210);}
.bg-blue08      { background-color: rgb(122,114,204);}
.bg-blue09      { background-color: rgb(106,97,197);}
.bg-blue10      { background-color: rgb(89,79,191);}

.bg-green01     { background-color: rgb(237,246,229);}
.bg-green02     { background-color: rgb(220,238,204);}
.bg-green03     { background-color: rgb(202,229,178);}
.bg-green04     { background-color: rgb(185,220,153);}
.bg-green05     { background-color: rgb(167,211,127);}
.bg-green06     { background-color: rgb(149,203,102);}
.bg-green07     { background-color: rgb(132,194,76);}
.bg-green08     { background-color: rgb(114,185,51);}
.bg-green09     { background-color: rgb(97,177,25);}
.bg-green10     { background-color: rgb(79,168,0);}

.bg-red01       { background-color: rgb(252,235,233);}
.bg-red02       { background-color: rgb(248,216,211);}
.bg-red03       { background-color: rgb(245,196,188);}
.bg-red04       { background-color: rgb(242,177,166);}
.bg-red05       { background-color: rgb(238,157,144);}
.bg-red06       { background-color: rgb(235,137,122);}
.bg-red07       { background-color: rgb(232,118,100);}
.bg-red08       { background-color: rgb(229,98,77);}
.bg-red09       { background-color: rgb(225,79,55);}
.bg-red10       { background-color: rgb(222,59,33);}

/*---------------------------*/
/* 7.5  Bottom border colors */
/*---------------------------*/
.box-blue       { width:750px; padding: 15px 9px 5px 10px; margin:10px 10px 10px 10px;border-top:1px solid rgb(88,144,168);border-left:1px solid rgb(88,144,168);border-right:1px solid rgb(88,144,168);border-bottom:1px solid rgb(88,144,168);}
.line-box       { width:769px; border-bottom: solid 1px rgb(200,200,200); padding-bottom: 7px; margin: 0px 0px 15px 0px;}


/*****************************/
/* SECTION 8 - MISCELLANEOUS */
/*****************************/
br { clear: none;} /* TODO: is it neccessary? */





/*****************************/
/* BS TABLES - Table with two-colored rows
/*****************************/
.bs-table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    border-color: grey;
    color: #777;
    font-size: 12px;
}

table.bs-table th {
    text-align: left;
}

table.bs-table th > a,
table.bs-table td > a {
    text-decoration: none;
    color: #323232;
}

table.bs-table th > a:hover,
table.bs-table td > a:hover {
    color: black;
}

.bs-table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-striped {
    border-spacing: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f0f0f0;
}
.bs-table>tbody>tr>td, .bs-table>tbody>tr>th, .bs-table>tfoot>tr>td, .bs-table>tfoot>tr>th, .bs-table>thead>tr>td, .bs-table>thead>tr>th {
    padding: 4px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.bs-table .cell-favorite {
    font-weight: bold;
    color: green;
}

.bs-table a.truncated {
    display: inline-block;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*****************************/
/* BUTTONS */
/*****************************/
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.btn-group-justified {
    display: table;
    width: 97%;  /*FIXME*/
    table-layout: fixed;
    border-collapse: separate;
    text-align: center;
}
.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    display: table-cell;
    float: none;
    width: 1%;
}
.btn-group-justified>.btn:not(:first-child) {
    border-left: 0px;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: -1px;
}
.btn {
    display: inline-block;
    box-sizing:border-box;
    padding: 6px 11px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid;
    font-size: 14px;
    cursor: pointer;
}
a.btn {
    text-decoration: none;
}

/* button variant*/
.btn.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
/* button size*/
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-md {
    padding: 3px 5px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-sm {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-xs,
.form-file input {
    margin: 0;
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}

/*****************************/
/* CONTEINERS */
/*****************************/

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

/*****************************/
/* FORMS */
/*****************************/

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-control {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group-sm .form-control {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-group-xs .form-control {
    height: 19px;
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-group {
    position: relative;
    width: 100%;
    display: table;
    border-collapse: separate;
}

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group>.btn, .input-group-btn:not(:first-child)>.dropdown-toggle, .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn, .input-group-btn:not(:last-child)>.btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    margin-bottom: 0;
}

.input-group-sm .form-control,
.input-group-sm .input-group-addon {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #55595c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    box-sizing: border-box;
}

.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-addon:not(:last-child) {
    border-right: 0;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.input-group-addon + .form-control {
    margin-left: -2px;
}

.btn-upload {
    vertical-align: middle;
}
input.form-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/*****************************/
/* CALLOUTS */
/*****************************/

.callout {
    padding: 20px;
    margin: 20px 20px 20px 0;
    border: 1px solid #ddd;
    border-left-width: 5px;
    border-radius: 3px;
    font-size: 14px;
}

.callout .callout-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.callout.callout-info .callout-title,
.callout.callout-info .callout-highlight {
    color: #1b809e;
}

.callout.callout-info {
    border-left-color: #1b809e;
}

.callout.callout-primary {
    border-left-color: #337ab7;
}

.callout.callout-success {
    border-left-color: #5cb85c;
}

.callout.callout-warning {
    border-left-color: #f0ad4e;
}

.callout.callout-danger {
    border-left-color: #d9534f;
}

/* styles for inputfields */
input               { border:1px solid black;    background-color:white;    padding:1px; font-size:11px;color: black;}
*.input20           { width:20px;}  /* day,month */
*.input30           { width:30px;}
*.input40           { width:40px;}  /* year */
*.input50           { width:50px;}
*.input70           { width:70px;}
*.input100          { width:100px;}    /* log-password */
*.input120          { width:120px;}    /* emailadress */
*.input200          { width:200px;}
*.input300          { width:300px;}
*.input400          { width:400px;}    /* short cachedescription */
input.checkbox      { width:12px; height:12px; font-size:12px; border:0;}
input.radio         { border:0px; border-width: 0px; width:12px; height:12px; background-color: transparent;}
select              { border:1px solid black; background-color:white; padding:1px; font-size:12px; color: black;}
input.formbuttons   { background-color:rgb(219,230,241); width:120px; border:1px solid black; padding:0px; color: #000000; }


textarea.desc, textarea.cachelog {
    width: 100%;
    height: 30em;
}
textarea.hint {
    width: 100%;
    height: 4em;
}
textarea.logs       { width:600px; height:300px; }    /* only log_editor */
.show_deleted       { text-decoration: line-through; }

/* tooltip css */
tooltip {
    position: absolute;
    z-index: 3000;
    padding: 5px;
    opacity: 0.95;
    max-width: 360px;
    text-align: left;
    border: 1px solid #7ba2d2;
    background: #e4f5fa;
    color: #000;
    u
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* used in start.tpl.php only! */
div#local-caches-area                                   { width: 400px; }
div#local-events-area                                   { width: 400px; }
div#local-logs-area                                     { width: 750px; }
div#viewlogs-end                                        { font-weight: bold; font-size: 120%; margin-bottom: 10px;}
div.local-caches-area                                   { width: 400px; }
div.local-logs-area                                     { width: 750px; }
div.viewlogs-logpictures span.info                      { font-weight: bold; font-size: 120%;display: block;}
div.viewlogs-logpictures div.logimage                   { float: left; }
div.viewlogs-logpictures div.allimages                  { background-color: rgb(219,230,241);padding: 5px;  max-width: 750px; float: left;}
div.viewlogs-logpictures span.desc                      { vertical-align: middle; display: block; float: right; width: 112px; margin-top: 5px; padding-left: 3px;font-size: 12px;} /* should fit 4 images */
div.viewlogs-logpictures img                            { max-width: 64px; max-height: 64px; vertical-align: middle;}
div.viewlogs-logpictures span.removepic                 { display: block; font-size: 12px;}


div.cache-titled-content {
    margin-left: 40px;
    margin-top: 11px;
    font-size: 11px;
}
div.logs {
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 3px 5px 5px 5px;
    background: #fff url(/tpl/stdstyle/images/misc/bg-gradient-blue.png) repeat-x top left;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

span.user_aktywnosc
{
    color: #000000;
    font-weight: normal;
    font-family: verdana;
    font-size: 80%;
}

div.viewcache_log-content {
    margin: 5px;
    line-height: 1.3em;
    font-size: 12px;
    overflow-wrap: break-word;
}
div.viewcache_log-content * {
    font-family: arial, sans serif;
    line-height: 1.3em;
    font-size: 12px;
}

div#main-cachemap-block                 { width: 265px; margin-top: 80px; }
div#local-cachemap-block                { width: 365px; margin-top: 7px; }

.img-shadow {
    float:left;
    background: url(shadowAlpha.png) no-repeat bottom right !important;
    margin: 10px 0 0 10px !important;
    margin: 10px 0 0 5px;
}

.img-shadow img {
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    margin: -4px 4px 4px -4px;
    padding: 2px;
}

form#register label     { text-align: right; width: 14em; padding-right: 20px; display: block; float: left;}
form#register div       { margin: 7px 0 5px 0; }

form, input, textarea, button {
    font-family: Arial, Tahoma, Verdana;
    font-size: 8pt;
}


/* linki w recomendation cache sp2ong */
a.links:link {
    font-weight:bold;
    color: #323232;
    text-decoration:none;
}

a.links:visited {
    font-weight:bold;
    text-decoration:none;
}

a.links:active {
    text-decoration:none;
}

a.links:hover {
    font-weight:bold;
    color:black;
    text-decoration: underline;
}
a.links-onlusers:link {
    color: white;
    text-decoration:none;
}

a.links-onlusers:visited {
    color: white;
    text-decoration:none;
}

a.links-onlusers:active {
    background-color: white;
    text-decoration:none;
}

a.links-onlusers:hover {
    text-decoration: underline;
}

a.info{
    position:relative; /*this is the key*/
    z-index:24; background-color:#FFFFFF;
    color:#000;
    text-decoration:none;
}
a.info:visited {
    color: black;
    text-decoration:none;
}
a.info:hover    { z-index:25; background-color:#FFFFFF;}
a.info span     { display: none}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:relative;
    bottom:15em; left:0em; width:15em;
    border:1px solid #000;
    background-color:#FFFFCC; color:#000;
    text-align: left; font-size: 11px;
}


/* Gradien stylee */
#gradient {
    border-collapse: collapse;
}
#gradient td, #gradient th {
    border: 1px solid black;
}
#gradient th {
    background-color: #a4d9ff;
    color: #000000;
    background: #fff url(/tpl/stdstyle/images/misc/bg-gradient-blue.png) repeat-x top left;
}



table.border {    background: url(/images/css/bg_blue.png) repeat-x;
                  color: #333;
                  padding: 2px;
                  width: 95%;
                  border-bottom: 1px solid #CCCCCC;
                  border-top: 1px solid #CCCCCC;
                  border-left: 1px solid #CCCCCC;
                  border-right: 1px solid #CCCCCC;
}


table.ptPromo-table {
    width: 100%;
    font-size: 11px;
    vertical-align: middle;
}


div.gallery-pictureblock            { float: left; max-width: 180px; height:220px;padding-left: 10px; padding-right: 10px;vertical-align: middle;}
div.gallery-pictureblock span.title { display: block; max-width: 175px; padding-left: 10px; padding-right: 5px;clear: left; font-size: 10px;}

div.searchdiv {
    width: 94%;
    margin: 5px;
    padding: 5px;     border: solid 1px rgb(219,230,241);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}



div.headitems {
    width: 95%;
    margin: 5px;
    float:right;
    padding: 3px;     border: solid 1px rgb(219,230,241);
    background-color: #7fa2ca ;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div.listitems {
    width: 95%;
    margin: 5px;
    float:right;
    padding: 3px;
    border: solid 1px rgb(219,230,241);
    background: #fff url(/tpl/stdstyle/images/misc/bg-gradient-blue.png) repeat-x top left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* This is for myRoutes only */
div.ver {
    height: 30px;
    margin-top:3px;
    margin-bottom:3px;
    margin-right:5px;
    margin-left:5px;
    float:left;
    border-left: 2px solid white;
}
div.ver35 {
    height: 100%;
    margin-top:3px;
    margin-bottom:3px;
    margin-right:5px;
    margin-left:5px;
    float:left;
    border-left: 2px solid #7fa2ca;
}
div.myr{
    vertical-align: middle;
    text-align:center;
    float:left;
    font-size:12px;
    font-weight:bold;
    line-height:1.6em;}

td.myr{
    text-align:center;
    vertical-align: middle;
    font-size:11px;
    font-weight:bold;
    line-height:1.4em;}


/* ===================================================================================== */
/*              Tabele w myneighborhood    jg-geo(at)pwr.pl                              */
/* ===================================================================================== */

td.myneighborhood {
    padding: 3px;
    font-size: 12px;
}
td.tab_date {
    white-space: nowrap;
    width: 10%;
}
td.tab_icon
{
    width: 16px;
}
td.tab_user {
    width: 20%;
}


/*power trails (geoPaths) medals (viewprofile)*/
.ptMedal {
    float: left;
    display:compact;
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50px 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.imgPtMedal{
    max-height: 50px;
    max-width: 50px;
}
.ptMedalSpacer {
    width: 3px;
    height: 60px;
    float: left;
    display:compact;
}

.contact_info h2 {
    font-size: 12px;
    color: #4B4B4B;
}

/* override google maps font to default ones */
div.gm-style {
    font-family: "arial", sans-serif, "Tahoma", "Verdana";
}

.show-more {
    font-size: 10px;
    margin-top: 1em;
}

.full-width {
    width: 100%;
}

sup {
    font-size: 0.7em !important;
}
sub {
    font-size: 0.7em !important;
}

/* Bootstrap text colors */
.text-color-primary {
    color: #337ab7;
}

.text-color-success {
    color: #5cb85c;
}

.text-color-warning {
    color: #f0ad4e;
}

.text-color-danger {
    color: #d9534f;
}

.element-even {
    background-color: #f5f5f5;
}
